@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @apply h-screen bg-gray-200;
}

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.table-row {
  @apply border-b odd:bg-white even:bg-gray-100;
}

.table-data {
  @apply whitespace-nowrap px-6 py-4;
}

.table-row-header {
  @apply whitespace-nowrap px-6 py-4 font-medium;
}

.table-header-data {
  @apply px-6 py-3;
}

.btn {
  @apply rounded px-4 py-2;
}

.btn-blue {
  @apply bg-blue-500 text-white;
}

.btn-red {
  @apply bg-red-500 text-white;
}

.btn-red:hover {
  @apply bg-red-700;
}

.btn-blue:hover {
  @apply bg-blue-700;
}

.form-label {
  @apply mb-2 block font-semibold text-gray-700;
}

.form-input {
  @apply mb-6 w-full rounded border px-3 py-2 leading-tight text-gray-700 shadow focus:outline-none;
}
